[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pydata-sphinx-theme = "*"
sphinx = "*"
pytest = "*"
hypothesis = "*"
ipython = "*"
twine = "*"

[packages]
sphinx = "*"
sphinx-rtd-theme = "*"
pytest = "*"
hypothesis = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
ipython = "*"
line-profiler = "*"
memory-profiler = "*"
python201 = {editable = true, path = "."}

[requires]
python_version = "3.8.3"
