[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pytest = "*"
hypothesis = "*"
sphinx = "*"
pydata-sphinx-theme = "*"
sphinx-autobuild = "*"
twine = "*"

[packages]
numpy = "*"
line-profiler = "*"
memory-profiler = "*"
python201 = {editable = true, path = "."}

[requires]
python_version = "3.8.3"
